[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jaeger-client = "<5,>=4.3"
requests = "*"
flask = "*"
futures = "*"

[dev-packages]

[requires]
python_version = "3.9"
